@model TechNeuronsProj.Models.Domain.Task

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-uppercase text-center">Edit Employee</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 border-1 border">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Id" class="form-label"></label>
                    <input asp-for="Id" class="form-control"></input>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" />
                </div>

                <div class="mb-3">
                    <a asp-controller="Task" asp-action="Display" class="btn btn-danger">Back</a>
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
